@{ ViewData["Title"] = "Home Page"; }
<html>
<head>
    <link rel="stylesheet" href="css/aboutus.css">
    <link rel="stylesheet" href="css/topnav.css">
</head>


<body background="images/background.jpeg">


    <p>
         
        <marquee behavior="scroll" direction="right">WELCOME TO OUR FOOD AND NUTRITION WEBSITE</marquee>
    </p>
    <div>
        <div class="container">
            <p align="justify">
                Our Food nutrition facts website will help you to maintain better eating habits and aid in attaining a balanced energy level.While there are many essential nutrients, they can be broken into two categories: macronutrients and micronutrients.</br>
                Macronutrients are eaten in large amounts and include the primary building blocks of your diet — protein, carbohydrates, and fat — which provide your body with energy.</br>
                Our Webiste provides the nutrient information for all the Food items selected from the menu.</br>
                Eat Clean and Stay Fit!!!!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <h2>Foods To Choose</h2>
                <img src="images/info2.jpg" style="width:100%">
                <div class="container">
                    <p>
                        Proper Nutrient selection helps in preventing Heart Disease.<br>
                        Protects against Cancer and we should choose the food that provides enough fiber.
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h2>Disease Prevention</h2>
                <img src="images/disease.jpg" style="width:100%" height="300">
                <div class="container">

                    <p>
                        A healthy and nutrient dense diet can increase longevity, protect against diseases, and improve your overall quality of life.<br />
                        Eat healthy and keep disease away.<br />
                        Be disease free for life.
                    </p>

                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h2>Food Nutrient Facts</h2>
                <img src="images/facts.jpg" alt="Megha" style="width:100%" height="290">
                <div class="container">


                    <p>
                        Our website provides you the right nutrition knowledge that will help you reach your health goals.<br />
                        Read the nutrients label to know the calories you will be consuming and keep a count.
                    </p>



                </div>
            </div>
        </div>
        <div>


</body>
</html>
